body {
    background-color: aqua;
    font-family: 'Roboto', sans-serif;
}


.signup-box {
    width: 360px;
    height: 620px;
    margin: auto;
    background-color: white;
    border-radius: 3px;

}

h1 {
    text-align: center;
    padding-top: 15px;
}

form {
    width: 300px;
    margin-left: 20px;
    flex: column;

}

form label {
    display: flex;
    margin-top: 20px;
    font-size: 18px;
}

form input {
    width: 100%;
    padding: 7px;
    border: none;
    border: 1px solid grey;
}

input[type="checkbox"] {
    accent-color: blue;

}